<h1>Пользовательское соглашение</h1>
<h2>Правила пользования сайтом easy-trips.org</h2>
<p>
	 1. Общие положения
</p>
<p>
	 1.1. Туристический портал «easy-trips.ru» (далее также – Сайт, Портал) – это информационный ресурс о путешествиях, не являющийся СМИ.
</p>
<p>
	 1.2. Сайт предоставляет своим пользователям, зарегистрированном в порядке, установленном администрацией портала, возможность писать статьи, комментарии, заметки о путешествиях, комментировать записи других пользователей, публиковать фотографии, видео, и другие материалы.
</p>
<p>
	 1.3. Сайт не несет ответственности за любые действия пользователей, выразившиеся в нарушении прав на интеллектуальную собственность других пользователей или третьих лиц, а также в любом ином нарушении законодательства Российской Федерации. Всю полноту такой ответственности несет пользователь, разместивший информацию, нарушающую права третьих лиц или других пользователей.
</p>
<p>
	 1.4. Сайт не отвечает за сохранность размещенной пользователями информации, за непрерывную возможность доступа к этой информации, и за любые события и действия администрации Сайта или третьих лиц, повлекшие уничтожение, повреждение, некорректное отображение размещенной пользователями информации и иные последствия такого рода.
</p>
<p>
	 1.5. Сайт не предоставляет услуги по обработке информации Пользователей, кроме хранения, не осуществляет обработку информации для удобства её нахождения.
</p>
<p>
	 1.6. Сайт не несет ответственность за лиц, с которыми пользователь заключил соглашения любого рода и в любом виде с помощью Сайта. Пользователь осуществляет такие действия самостоятельно, и несет всю полноту риска.
</p>
<p>
	 2. Статус пользователя
</p>
<p>
	 2.1. Права Пользователя:
</p>
<p>
	 2.1.1. Пользователь имеет право загружать на Сайт тексты, ссылки на видео-файлы, фото-изображения, при условии обладания правами на данные материалы.
</p>
<p>
	 2.1.2. Пользователь имеет право пользоваться любыми сервисами Сайта, при условии соблюдения законодательства Российской Федерации.
</p>
<p>
	 2.1.3. Пользователь имеет право комментировать материалы других пользователей, а также повышать рейтинги других пользователей или их материалов.
</p>
<p>
	 2.2. Пользователь обязан:
</p>
<p>
	 2.2.1. Размещать только такую информацию, обладателем прав на которую он является, не загружать или иным образом не доводить до всеобщего сведения (публиковать на сайте) или иным образом не использовать контент других сайтов, баз данных и прочие результаты интеллектуальной деятельности иных лиц при отсутствии письменного согласия правообладателя на такие действия.
</p>
<p>
	 2.2.2. При размещении информации, автором которой является другое лицо, указать это лицо в порядке, установленном законодательством Российской Федерации.
</p>
<p>
	 2.2.3. Не распространять информацию, разжигающую расовую, религиозную или иную рознь или вражду, а также иную информацию, за распространение которой законодательством Российской Федерации установлена ответственность.
</p>
<p>
	 2.2.4. Достоверно указывать информацию о себе в учетной записи пользователя и в иных материалах, а также обеспечить достоверность публикуемой информации.
</p>
<p>
	 2.2.5. Не&nbsp;нарушать работоспособность Сайта путём размещения информации, содержащей вирусы, создания дополнительной нагрузки на&nbsp;сервер, применением программ, не&nbsp;обусловленных функциональным содержанием информационного ресурса и&nbsp;иными способами.
</p>
<p>
	 2.3. Кроме случаев, установленных настоящим Соглашением, а также действующим законодательством Российской Федерации, никакие материалы Сайта не могут быть скопированы (воспроизведены), переработаны, распространены, отображены во фрейме, опубликованы, скачаны, переданы, проданы или иным способом использованы целиком или по частям без предварительного разрешения правообладателя (Администрации Сайта, Пользователя, иного лица).
</p>
<p>
	 3. Статус Администрации Сайта.
</p>
<p>
	 3.1. В любое время без предупреждения и уведомления администрация Сайта имеет право удалить пользовательские материалы любого вида, если есть основания полагать, что их размещение нарушает права других пользователей, третьих лиц, или законодательство Российской Федерации, или по любым иным мотивам.
</p>
<p>
	 3.2. В любое время, без оснований, предупреждения или уведомления администрация Сайта имеет право заблокировать пользователю возможность загружать или создавать материалы (статьи, очерки, и тому подобное), в случае нарушения им условий настоящего соглашения, а также ограничить доступ к информации, размещенной пользователем, заблокировать или удалить учетную запись пользователя.
</p>
<p>
	 3.3. Администрация имеет право без объяснения причин отказать в регистрации нового пользователя, в том числе учетная запись которого ранее была удалена за нарушение условий настоящего соглашения.
</p>
<p>
	 3.4. Администрация имеет право использовать информацию, размещенную пользователями на Сайте, в целях иллюстрирования других материалов Сайта, а также изменять их и перерабатывать для этой цели. Действиями по размещению информации на сайте пользователь однозначно и явно подтверждает, что согласен на такое условие. Администраций в этом случае обязана разместить гиперссылку на учетную запись разместившего материал Пользователя.
</p>
<p>
	 3.5. Администрация имеет право размещать ссылки на любых страницах сайта на материалы, созданные или размещенные пользователями на Сайте.
</p>
<p>
	 3.6. Администрация имеет право доводить до сведения пользователей информацию об услугах, предоставляемых третьими лицами, в том числе посредством рассылки по электронной почте, размещения на страницах Сайта баннеров, ссылок, и любым другим способом.
</p>
<p>
	 3.7. Администрация не обязана исключать возможность использования любой информации Сайта, в том числе размещенной пользователями, поисковыми или иными автоматизированными сервисами.
</p>
<p>
	 3.8. Администрация Сайта не осуществляет проверку всех материалов, размещаемых пользователями, перед публикацией (премодерация), в силу отсутствия технической возможности, однако оставляет за собой право проверки отдельных материалов.
</p>
<p>
	 3.9. Администрация обязуется помечать специальными символами все фотографии, размещаемыми пользователем. Пользователь может отключить эту возможность в настройках своей учетной записи.
</p>
<p>
	 4. Рассмотрение споров.
</p>
<p>
	 4.1. Споры относительно принадлежности прав на размещенную на Сервисе информацию, относительно нарушения пользователями прав других пользователей и иные разрешаются в соответствии с Претензионным порядком.
</p>
<p>
	 5. Иные условия.
</p>
<p>
	 5.1.&nbsp;В&nbsp;случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и&nbsp;т.&nbsp;д.) администрация Сайта не&nbsp;гарантирует сохранность информации, размещённой пользователем, а&nbsp;также бесперебойную работу Сайта.
</p>
<p>
	 5.2. Настоящее соглашение вступает в&nbsp;силу&nbsp;с&nbsp;момента регистрации или авторизации&nbsp;пользователя на&nbsp;Сайте и&nbsp;распространяется на&nbsp;неопределенный срок.
</p>
<p>
	 5.3. Администрация имеет право на&nbsp;одностороннее изменение положений Соглашения, Пользователь может быть уведомлен об&nbsp;изменениях при помощи технических средств Сайта (любым из перечисленных способов: всплывающее уведомление, уведомление в Профиле пользователя, письма на адрес электронной почты). Использование сервисов Сайта (в том числе добавление новых материалов, комментариев, просмотр сайта а также не удаление учетной записи) после уведомления означает, что пользователь соглашается с изменениями в Пользовательском соглашении.
</p>